@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Asap&family=Fredoka&family=Gabriela&family=Tenor+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.aoboshi {
    font-family: 'Aoboshi One', serif;
}

.asap {
    font-family: 'Asap', sans-serif;
}

.fredoka {
    font-family: 'Fredoka', sans-serif;
}

.gabriela {
    font-family: 'Gabriela', serif;
}

.tenor-sans {
    font-family: 'Tenor Sans', sans-serif;
}

.bg-golden {
    background: linear-gradient(143.7deg, #462523 -60%, #cb9b51 2%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 98%, #462523 160%);
}

.bg-blue-pink {
    background: linear-gradient(143.7deg, #f97794 -20%, #6200ff 40%, #7423ed 100%);
}

.blue-shadow {
    box-shadow: 0rem 0.2rem 0.55rem 0.02rem #9743fe7e;
}

.blue-shadow-text {
    text-shadow: 0rem 0.2rem 0.55rem 0.02rem #9743fe7e;
}

.bg-pink {
    background-color: #ff00e5;
}

.bg-blue {
    background-color: #0047ff;
}

.csk {
    background: linear-gradient(143.7deg, #fcca06 50%, #f25c19 100%);
}

.mi {
    background: linear-gradient(180deg, #0078bc 50%, #17479e 100%);
}

.rr {
    background: linear-gradient(143.7deg, #ea1a85 50%, #001d48 100%);
}

.dc {
    background: linear-gradient(180deg, #0078bc 50%, #17479e 100%);
}

.kkr {
    background: linear-gradient(143.7deg, #3b215d 50%, #552792 100%);

}

.pbks {
    background: linear-gradient(143.7deg, #d71920 50%, #84171b 100%);
}

.srh {
    background: linear-gradient(180deg, #f26522 50%, #ed1a37 100%);
}

.rcb {
    background: linear-gradient(143.7deg, #6a6a6a 50%, #1c1c1c 100%);
}